<div>

    <a routerLink="/listeAnnonce" routerLinkActive="active">
        <p>Back</p>
    </a>

  <form class="form-group">
    <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
    <input type="password" class="form-control" id="password" name="password" placeholder="password" required>

    <button type="submit" class="btn btn-primary" routerLink="/listeAnnonce">Log In</button>
  </form>

  <a href="">Password forgotten</a> <br>
  <a routerLink="/signIn" routerLinkActive="active"> Sign In</a>
</div>