<p>Liste</p>

<!-- <div *ngIf="annonce.customer.auth === false"> -->
  <i><a routerLink="/login" routerLinkActive="active">Log in</a></i>
<!-- </div>
<div *ngIf="annonce.customer.auth === true"> -->
  <!-- <i><a routerLink="login" routerLinkActive="active">Log out</a></i>
</div> -->

<ul class="list-group">
  <li class="list-group-item" *ngFor="let annonce of annonces, let i = index">
    <div class="row">
        <div class="col-8">
          <h2>{{ annonce.title }}</h2>
          <p>Proposé par : <i>{{ annonce.customer.customerName }}</i> à {{annonce.localisation}}</p>
            <div class="col">
              <p>Annonce : {{ annonce.content }}</p>
            </div>
          
          <h3>Prix: {{annonce.price }} €</h3>
        </div>

        <div class="col-3">
            <img class="vignette" src='{{annonce.image}}'>
        </div>
        
        <div class="col-1">
          <button type="button" class="btn btn-primary btn-lg" (click)="onClick(i)">
            <span class="glyphicon glyphicon-eye-open"> Voir </span>
          </button>
        </div>
    </div>
    <div *ngIf="annonce.details === true">
        <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email : {{ annonce.customer.customerEmail }}</p>
        <p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Téléphone : {{ annonce.customer.customerPhone }}</p>
        
    </div>
  </li>
</ul>