<p>Liste</p>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let annonce of annonces, let i = index">
    <div class="row">
        <div class="col-8">
          <h2>{{ annonce.title }}</h2>
          <p>Proposé par : <i>{{ annonce.customerName }}</i> à {{annonce.localisation}}</p>
            <div class="col">
              <p>Annonce : {{ annonce.content }}</p>
            </div>
          
          <h3>Prix: {{annonce.price }} €</h3>
        </div>

        <div class="col-3">
            <img class="vignette" src='{{annonce.image}}'>
        </div>
        
        <div class="col-1">
          <button type="button" class="btn btn-primary btn-lg" (click)="onClick(i)">
            <span class="glyphicon glyphicon-eye-open"> Voir </span>
          </button>
        </div>
    </div>
    <div *ngIf="annonce.details === true">
        Details

    </div>
  </li>
</ul>